@font-face{
    font-family:"Collab";
    src:url(ColabThi.woff) format('woff'),
		url(ColabThi.ttf) format('truetype');
}
@font-face{
    font-family:"CollabM";
    src:url(ColabMed.woff) format('woff'),
		url(ColabMed.ttf) format('truetype');
}
@font-face{
    font-family:"Fette";
    src:url(Fette%20Engschrift.woff) format('woff');
}
@font-face{
    font-family:"Lato";
    src:url(Lato-Medium.woff) format('woff');
}
@font-face{
    font-family:"Ostritch";
    src:url(ostrich-rounded.woff) format('woff');
}
body {
  background-image: url(/Photography/images/64_Whiteish.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
a {
  color: inherit;
  text-decoration: inherit;
}
h1, h2, p {
  text-align: center;
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light";
  font-weight: 200;
  margin-top: -16px;
}
h1 {
  font-size: 36px;
  font-weight: 100;
}
p {
  font-size: 14px;
  color: gray;
}
.emp {
  color: #2e83ab;
  font-weight: 200;
}
#head {
  margin-top: 7%;
}
.imgC1 {
  position: relative;
  margin-top: 5%;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  background-color:#fff;
}
#footer p{
  position: relative;
  margin-top: 4%;
}
#navbar {
  position: fixed;
  z-index: 2;
	left:0px;
	right:0px;
  top:0px;
	height:80px;
	background-color:#e0e0e0;
	-webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
}
#nav {
  float: right;
  width: 600px;
  height: 80px;
  right:0px;
  top:0px;
  background-color: #e0e0e0;
  margin: 0px;
  margin-top: -80px
}
#navbar h1 {
  font-size: 50px;
  color: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  margin: 0px;
  margin-top: 10px;
  margin-left: 20px;
}
#nav ul {
  list-style: none;
  width: 500px;
}
#nav ul li {
    float: left;
    margin: 20px;
    font-size: 20px;
    color: #000;
}
#ctr1 {
  left: 0px;
  right: 0px;
  height: 800px;
  margin: -8px;
  background-image: url(images/code4.jpg);
  background-size: cover;
  /*background-color: #ababab;*/
}
#ctr1_1 {
  position: relative;
  top: 100px;
  width: 900px;
  height: 600px;
  background-color: rgba(56, 56, 56, 0.9);
  border-radius: 25px;
  margin: auto;
  z-index: 0;
}
#ctr1 h1 {
  position: relative;
  top:20px;
  left:130px;
  font-size: 50px;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(50, 50, 50, 1);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  text-align: center;
}
#avatar {
  position: relative;
  top: -50px;
  left: 40px;
  width: 300px;
  border-radius: 300px;
  float: left;
}
#ctr1_1_1 {
  width: 500px;
  float: right;
  margin-right: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  text-shadow: 4px 4px 2px rgba(50, 50, 50, 1);
}
#ctr1_1_1 p {
  color: #fff;
}


/* CODE GRAVEYARD, Sandbox, PASTEBIN */

/*
#navlogo {
	height:40px;
	margin-top:20px;
	margin-left:40px;
	opacity:0;
}
#nav ul {
	display:inline-block;
	list-style:none;
	margin-top:24px;
}
#nav ul li {
	margin-left:-20px;
}
#nav ul a{
	text-decoration:none;
	font-family:Collab;
	font-size:28px;
	color:#FFF;
}
#nav ul a:hover{
	color:#09F;
}

#head {
	height:1100px;
	width:auto;
	margin:-8px;
	background-color: #ededed
	background-size:cover;
	background-position:center top;
	opacity:0;
	display:block;
	position:relative;
	top:0;
	z-index:-5;
}
#headp p {
	vertical-align:middle;
	position:fixed;
	margin:auto;
	left:0;
	right:0;
	top:33%;
	font-size:130px;
	font-family:Collab;
	color:#FFF;
	text-shadow: 2px 2px 4px rgba(50, 50, 50, 1);
	text-align:center;
	opacity:0;
	z-index:-1;
}
#headp h1 {
	vertical-align:middle;
	position:fixed;
	margin:auto;
	margin-top:112px;
	left:460px;
	right:0;
	top:33%;
	font-size:40px;
	font-family:Ostritch;
	color:#CCC;
	text-shadow: 2px 2px 4px rgba(50, 50, 50, 1);
	text-align:center;
	z-index:-1;
	opacity:0;
}
#headp img {
	position:fixed;
	top:50%;
	margin-top:-100px;
	left:50%;
	margin-left:-474px;
	opacity:0;
	z-index:-4;
}
#btt {
	position:fixed;
	bottom:30px;
	right:30px;
	width:40px;
	height:40px;
	background-color:#444;
	border-radius:30px;
	z-index:10;
	opacity:0;
}
#btt:hover {
	background-color:#09F;
}
#btt img{
	width:23px;
	position:relative;
	left:9px;
	top:8px;
}
#first {
	position: relative;
	top: 0;
	width: auto;
	height: 1300px;
	margin: -8px;
	margin-top: -73px;
	background-image: url(images/33.png);
	background-size: 100% 100%;
	z-index: 2;
}
#services {
	width:auto;
	height:780px;
	margin:auto;
	background-color:#F2F2F2;
}
#wwd {
	position:relative;
	top:130px;
	text-align:center;
	font-weight:200;
}
#wwd p {
	font-family:Collab;
	font-size:72px;
	color:#09F;
}
#servicebox {
	width:900px;
	margin:auto;
	margin-top:-15px;
	height:480px;
}
#servicebox h1 {
	font-family:Fette;
	font-size:42px;
	font-weight:200;
	margin-top:8px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.3);
	color:#000;
}
#servicebox a {
	text-decoration:none;
}
#web {
	width:400px;
	height:450px;
	background-color:#FAFAFA;
	display:inline-block;
	margin-right:20px;
	border-radius:8px;
	vertical-align:top;
	-webkit-box-shadow: 0px -1px 48px -41px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 48px -41px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 48px -41px rgba(0,0,0,0.75);
}
#web:hover {
	background:url(images/Blueprint.jpg);
	background-size:400px 450px;
}
#web:hover p{
	color:#FFF;
}
#web:hover h1{
	color:#FFF;
}
#web:hover #webimg{
	display:none;
}
#web:hover #webimgw{
	display:inherit;
}
#web:hover #css3{
	display:none;
}
#web:hover #css3w{
	display:inherit;
}
#web:hover #html5{
	display:none;
}
#web:hover #html5w{
	display:inherit;
}
#web:hover #js{
	display:none;
}
#web:hover #jsw{
	display:inherit;
}
#web:hover #jquery{
	display:none;
}
#web:hover #jqueryw{
	display:inherit;
}
#web p {
	margin-left:10px;
	margin-right:10px;
	margin-top:16px;
	font-size:17px;
	font-family:Lato;
	text-align:center;
	color:#000;
}
.html5 {
	width:60px;
	position:relative;
	top:245px;
	left:10px;
}
#html5w {
	display:none;
}
.css3 {
	width:60px;
	position:relative;
	top:245px;
	left:38px;
}
#css3w {
	display:none;
}
.js {
	width:60px;
	position:relative;
	top:245px;
	left:72px;
}
#jsw {
	display:none;
}
.jquery {
	width:60px;
	position:relative;
	top:245px;
	left:110px;
}
#jqueryw {
	display:none;
}
.webimg {
	width:120px;
	margin-top:-28px;
	position:relative;
	left:-125px;
}
#webimgw {
	display:none;
}
#graphicimg {
	width:121px;
	margin-top:-30px;
}
#graphicimgw {
	display:none;
	width:121px;
	margin-top:-30px;
}
#graphic {
	width:400px;
	height:450px;
	background-color:#FAFAFA;
	display:inline-block;
	margin-right:20px;
	border-radius:8px;
	vertical-align:top;
	-webkit-box-shadow: 0px -1px 48px -41px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 48px -41px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 48px -41px rgba(0,0,0,0.75);
}
#graphic:hover {
	background:url(images/Greenprint.jpg);
	background-size:400px 450px;
}
#graphic:hover p{
	color:#FFF;
}
#graphic:hover h1{
	color:#FFF;
}
#graphic:hover #graphicimg{
	display:none;
}
#graphic:hover #graphicimgw{
	display:inherit;
}
#graphic p {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	font-size:16px;
	font-family:Lato;
	text-align:center;
	color:#000;
}
#pencil {
	width:80px;
	position:relative;
	margin-top:10px;
}
#carbon {
	width:80px;
	position:relative;
	margin-top:32px;
	margin-left:5px;
	margin-right:5px;
}
#colored {
	width:80px;
	position:relative;
	margin-top:10px;
}
#full {
	width:80px;
	position:relative;
	margin-top:10px;
}
#wf {
	margin-top: 80px;
}
#wf h1{
	text-align:center;
	font-size:42px;
	font-family:"Ostritch";
	color:#FFF;
	font-weight:300;
}
#wf p{
	text-align:center;
	font-size:36px;
	font-family:"Ostritch";
	color:#FFF;
}
#second {
	position:relative;
	top:0;
	width:auto;
	height:600px;
	margin:-8px;
	margin-top:-78px;
	background-color:#F2F2F2;
	z-index:-1;
}
#why {
	position:relative;
	top:170px;
	text-align:center;
}
#why p {
	position:relative;
	top:-100px;
	font-family:Collab;
	font-size:72px;
	color:#09F;
}
#why h1 {
	font-family:Fette;
	font-size:36px;
	text-align:center;
}
#descriptionbox {
	height:600px;
	width:900px;
	margin:auto;
	margin-top:-130px;
}
#descriptionbox p {
	font-size:18px;
	color:#000;
	font-family:Lato;
	margin-top:120px;
}
#desc1 {
	height:480px;
	width:380px;
	display:inline-block;
	vertical-align:top;
}
#money {
	width:130px;
	margin-left:-16px;
	margin-bottom:-40px;
}
#desc2 {
	height:480px;
	width:380px;
	display:inline-block;
	vertical-align:top;
}
#flex {
	width:130px;
	margin-left:-26px;
	margin-bottom:-40px;
}
#third {
	display:relative;
	width:auto;
	height:1925px;
	margin:-8px;
	background-image:url(images/45.png);
	background-size:100% 130%;
	background-position:center top;
	background-attachment:fixed;
	z-index:-2;
}
#packages {
	width:990px;
	height:750px;
	margin:auto;
	position:relative;
	top:40px;
	z-index:0;
}
#packages h1 {
	font-family:Ostritch;
	font-size:42px;
	font-weight:100;
	text-align:center;
	color:#FFF;
}
#line1 {
	margin:auto;
	position:relative;
	top:55px;
	left:560px;
	vertical-align:top;
}
#line2 {
	margin:auto;
	position:relative;
	top:-60px;
	left:247px;
	vertical-align:top;
}
#pkgbox {
	margin:auto;
	margin-left:-18px;
	width:980;
	height:730px;
	vertical-align:top;
}
#bv {
	width:128px;
	position:absolute;
	top:120px;
	left:550px;
}
.pkg {
	width:300px;
	height:310px;
	border-radius:6px;
	background-color:#EEE;
	display:inline-block;
	margin-left:25px;
	margin-bottom:20px;
	margin-top:20px;
	vertical-align:top;
	-webkit-box-shadow:0px 13px 28px -3px rgba(0,0,0,0.31);
	-moz-box-shadow:0px 13px 28px -3px rgba(0,0,0,0.31);
	box-shadow:0px 13px 28px -3px rgba(0,0,0,0.31);
}
.pkgtxt {
	width:285px;
	height:120px;
	margin:auto;
}
.pkg h2 {
	color:#000;
	font-family:Ostritch;
	font-size:45px;
	text-align:center;
	margin-top:10px;
}
.pkg h4 {
	color:#000;
	font-family:Lato;
	font-size:15px;
	text-align:center;
	font-weight:300;
	margin-top:3px;
}
.pkgimg {
	width:100px;
	height:100px;
	margin:auto;
	margin-top:-34px;
}
.pkgimg img{
	width:100px;
	height:100px;
}
#gdh2 {
	font-family:Ostritch;
	font-size:80px;
	font-weight:100;
	text-align:center;
	color:#FFF;
	margin-top:100px;
	margin-bottom:80px;
	text-shadow: 3px 3px 6px rgba(40, 40, 40, 0.61);
}
#graphbox {
	margin:auto;
	margin-top:-60px;
	margin-left:-18px;
	width:auto;
	height:730px;
	vertical-align:top;
}
.gpkg {
	width:300px;
	height:310px;
	border-radius:6px;
	display:inline-block;
	margin-left:25px;
	margin-bottom:20px;
	margin-top:20px;
	vertical-align:top;
	-webkit-box-shadow:0px 13px 28px -3px rgba(0,0,0,0.31);
	-moz-box-shadow:0px 13px 28px -3px rgba(0,0,0,0.31);
	box-shadow:0px 13px 28px -3px rgba(0,0,0,0.31);
	background: #345560; /* Old browsers *//*
}
.gpkgtxt {
	width:285px;
	height:120px;
	margin:auto;
}
.gpkg h2 {
	color:#FFF;
	font-family:Ostritch;
	font-size:45px;
	text-align:center;
	margin-top:10px;
}
.gpkg h4 {
	color: #FFF;
	font-family: Lato;
	font-size: 15px;
	text-align: center;
	font-weight: 300;
	margin-top: 3px;
}
.gpkgimg {
	width:100px;
	height:100px;
	margin:auto;
	margin-top:-34px;
}
.gpkgimg img{
	width:100px;
	height:100px;
}
#fourth {
	width:auto;
	height:1010px;
	margin:-8px;
	margin-top:-60px;
	background-image:url(images/Portland_Maine.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
}
#CD {
	position: relative;
	top: 200px;
	width: 800px;
	height: 600px;
	margin: auto;
	border-radius: 14px;
	background-color: rgba(240,240,240,0.8);
	opacity: 0;
}
#CD h1{
	position:relative;
	top:20px;
	font-family:Collab;
	font-size:72px;
	font-weight:100;
	text-align:center;
}
*/
